*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
    
}
h1{
    transform: scale(1,5);
}
.body {
    background-color:rgb(240, 255, 255);
    color: rgb(119, 4, 196);
}

div> .cardp{
    border: 1px solid black;
    box-sizing:content-box;
    align-items: center;
}